.App {
  text-align: center;
}
.navbar{
  background-color: #e8cebf;
  padding:30px 20%;
}

.AppTitle{
  font-size: 90px;
  font-family: 'Dosis', sans-serif;
}
.homePageImg{
  position:absolute;
  right:0%;
  border-radius: 15px;
  width:400px;
  padding-right: 12px;
}

.navbarbuttoncss{
  font-size:17px;
  padding: 10px 22px;
  background-color: #e1eedd;
  border-radius: 10px;
  border:5px solid pink;
  font-family: 'Dosis', sans-serif;
  margin-left:10px;
}
.navbarbuttoncss:hover{
   cursor: pointer;
   background-color: #266150;
   color: #fefbe9;
}
.homepageTextbox{
border:10px solid pink;
margin-right: 450px;
padding:70px 70px 100px 100px;
background-color: #ddaf94
}
.circles{
  border:9px solid pink;
  border-radius:50%;
  width: 200px;
  height: 200px;
  align-items:flex-boxbaseline;
}
.motionDiv{
  width:200px;
  
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}  

.flex-child:first-child {
  margin-right: 20px;
} 